/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    color: rgb(10, 10, 10);
}

body{
    width: auto;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(15, 15, 15, 0.6), rgba(17, 17, 17, 0.6)), url(images/img_50.jpg) no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p{
    font-size: 2rem;
    font-weight: 100;
}

img{
    width: 100%;
}

/* ******************************* */

/* Header */

header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: rgba(24, 24, 26, 0.8);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-link{
    color: rgb(218, 213, 213);
    font-family: 'Gayathri', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #504f4c, #111011);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #dbdad8, #727072);
    width: 100%;
    height: 6px;
    border-radius: .8rem;

}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 4rem;
    font-family: 'Gayathri', sans-serif;
    color: white;
    font-weight: 100;
}

.landing-text h6{
    font-size: 3rem;
    font-family: 'Gayathri', sans-serif;
    font-weight: 100;
    color: white;
    padding: 20px;
}
/* ********************************** */

/* About*/

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    margin-bottom: 2rem;
}

.about-heading h1{
    text-transform: uppercase;
    font-size: 7rem;
    opacity: .5;
    letter-spacing: .3rem;
}

.about-heading h6{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 10px;
}

.about-details{
    flex: 1;
}

.about-heading p{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 3.5rem;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

.social-media{
    margin-top: 1rem;
}

.social-media i{
    font-size: 4rem;
    transition:  color 650ms;
}

.fa-facebook-square{
    color: #4267b2;
}

.fa-linkedin{
    color: #0e76a8;
}

.fa-at{
    color: #912218;
}
/* ********************************** */

/* Services*/

.my-skills{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.skill{
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.skill h1{
    font-size: 2rem;
    margin-bottom: 20px;
}



.icon-container i{
    color: rgba(0,0,0,0.6);
    font-size: 5rem;
    margin-bottom: 20px;
}

/* ********************************** */

/* Portfolio */

.items{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.portfolio-item{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 20rem;
}

.portfolio-description h1{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.5;
}

.portfolio-img img{
    border-radius: 10%;
}

.btn{
    text-decoration: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    border: none;
    background-color: rgb(64, 120, 240);
    color: #000;
}

#progress{
    margin-top: 10rem;
}
/* ********************************** */

/* Skills */

.skills{
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
}

.skills h1{
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 6rem;
}

.skills img{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: .5rem;
}

/* ********************************** */

/* Contact */

form{
    display: flex; 
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

input, 
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    border-radius: .8rem;
}

input[type="submit"]{
    width: 50%;
    background-color: #a3a19e;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: white;
    background-color: #000;
}

.copyright{
    background: #f8f5f2;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}

.up{
    color: black;
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: white;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}
/* ********************************** */


/* Reusable */

hr{
    width: 50%;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    margin: 0 auto;
    margin-top: 50px;
}

.container{
    width: 100%;
    height: 100%;
    background: #f8f5f2;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

section{
    background: #f8f5f2;
}

.section-heading{
    text-align: center;
    margin-bottom: 5rem;
}

.section-heading h1{
    font-size: 6rem;
    color: black;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}

.section-heading h6{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}
/* ********************************** */

/* Animations */

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(24, 24, 26, 0.99);
    }
    70%{
        box-shadow: 0 0 0 1.5rem rgba(24, 24, 26, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(24, 24, 26, 0);
    }
}

/* ********************************** */

/* Media queries */

@media screen and (Max-width: 900px){
    body{
        background: linear-gradient(to right bottom, rgba(15, 15, 15, 0.6), rgba(17, 17, 17, 0.6)), url(images/img_50.jpg) no-repeat center fixed;
        background-size: cover;
        background-position: bottom;
    }

    .landing-text h1{
        margin-top: 8rem;
        font-size: 6rem;
    }

    .landing-text h6{
        font-size: 3rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 6rem;
    }

    .section-heading h1{
        font-size: 5rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 1.5rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .skills{
        width: 300px;
        height: 300px;
    }

    .skills img{
        width: 7rem;
        height: 7rem;
    }
}

@media screen and (Max-width: 600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 4rem;
    }

    .landing-text h6{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 2.5rem;
    }

    .about-heading p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .about-heading h1{
        font-size: 3rem;
    }

    .about-heading h6{
        font-size: 1.5rem;
    }

    .section-heading h1{
        font-size: 3rem;
        letter-spacing: .2rem;
    }

    .section-heading h6{
        font-size: 1rem;
    }

    .skill h1{
        font-size: 1.8rem;
    }

    .skill p{
        font-size: 1.7rem;
    }

    form{
        width: 50%;
    }

    .up{
        right: 1rem;
        width: 3rem;
        height: 3rem;
    }

    .up i{
        font-size: 1.5rem;
    }
}
/* ********************************** */
